@import "~normalize.css";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
}

.single-item {
  height: 100vh;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.slick-dots li button:before {
  font-size: 60px;
  line-height: 60px;
}

.slick-dots {
  position: absolute;
  top: 15%;
  right: 28%;
  width: 150px;
  height: 50px;
}

.header {
  max-width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  .logo img {
    width: 150px;
    height: 100px;
    cursor: pointer;
  }
  .header-btn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 15px;
    margin-right: 10px;
  }
}
.first {
  background-image: url('../assets/hipster.svg');
  background-color: #81b29a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
}

.second {
  background-image: url('../assets/cat.svg');
  background-color: #3d405b;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: bottom;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;

  &-content {
    padding-left: 20px;
    max-width: 600px;
    height: 70%;
  }

  &-content__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &-content__text {
    max-width: 450px;
  }
  .text-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .text-note {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  &-features {
    width: 400px;
    height: 70%;
  }
  
  &-features__heading {
    font-size: 1.5rem;
  }
  &-features__note {
    font-weight: bold;
    font-size: 4rem;
    display: flex;
    margin-bottom: 20px;
  }
  &-features__rate {
    font-size: 0.8rem;
  }
  &-features__btn {
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 15px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    &-content {
      width: 450px;
    }
    &-content__title {
      font-size: 2rem;
    }
    .text-heading {
      font-size: 1rem;
    }
    .text-note{
      font-size: 0.7rem;
    }
    &-features{
      width: 350px;
    }
    &-features__heading {
      font-size: 1rem;
    }
    &-features__note {
      font-size: 3rem;
    }
    &-features__btn {
      font-size: 1rem;
    }
  }
}

@media (max-width: 590px) {
  .slick-dots {
    right: 50%;
  }
  .wrapper {
    &-content {
      display: none;
    }
    &-features {
      margin: auto;
      width: 250px;
    }
  }
}